body {
  text-align: center;
  color: whitesmoke !important;
  background-color: #282c34;
  text-transform: capitalize;
}

input{
  color: whitesmoke;
  background-color: #404653;
  border-radius: 5px;
  border-color: black !important;
  box-shadow: black 5px 5px 5px;
  border-width: 2px;
  padding: 5px;
}
